h1{
    font-weight: 800;
    margin-top: 60px;
    font-style: oblique;
    display: grid;
    margin-left: 70px;
    position:absolute;
  }
  p{
    font-style:oblique;
    font-weight: 50;
    margin-left: 140px;
  }
  img{
    width: 800px;
    height: 100px;
    margin-left: 400px;
    position: relative;
    margin-top: 25px;
  }
